
.sidenav {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #145374; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:white ;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #818181;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: #145374;
  }
  .top{
    width: 1330px;
  height: 143px;
  left: 288px;
  top: 0px;
  
  background: #145374;
  }
  .header{
    float: left;
  }
  .adminHeading{
    margin-left: 30px;
  }
  .search{
    width: 1000px;
height: 30px;
margin-left: 30px;


background: #E8E8E8;
border-radius: 5px;
  }
  .welcomeText{
    margin-top: -10px;
    color: white;
    margin-left: 100px;
  }
  h1{
    color: #00334E;
    text-align: center;
  }
  form {
	background-color: #EAEAEA;
	padding: 20px;
	width: 30%;
	margin: 0 auto;
	text-align: center;
    
}
.backForm{
    background-color: #A8BCC7;
}
label {
	display: block;
	margin: 10px 0;
}

input[type="password"], input[type="submit"],input[type="email"] {
	padding: 10px;
	margin: 10px 0;
	width: 80%;
	box-sizing: border-box;
	border-radius: 5px;
	border: none;
}

input[type="submit"] {
	background-color: #00334E;
	color: white;
	cursor: pointer;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }